{% extends 'task/index.html' %} {% block content %}

<div class="container d-flex justify-content-center mt-5">
	<div class="col-md-8">
		<div class="card">
			<div class="card-body">
				<a class="text-decoration-none" href="{% url 'task-list' %}">
					<i class="fa fa-tasks" aria-hidden="true"></i>
				</a>
				<ul class="list-group list-group-flush">
					<li class="list-group-item">
						<p>{{object.notes}}</p>
						<small class="">{{object.date_created|date:"F j,Y "}}</small>
						<a
							class="btn btn-sm btn-info"
							href="{% url 'task-update' object.id %}"
							>Update</a
						>
						<a
							class="btn btn-sm btn-danger"
							href="{% url 'task-delete' object.id %}"
							>Delete</a
						>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
{% endblock content %}
